*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('../Images/Bckgrd.jpg') rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
header{
    flex: 1 0 auto;

}


.video{
    width: 30em;
}

@media (max-width: 991px){
    .sidebar{
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(5px);
    }
    .video{
        width: 15em;
    }
}
footer{
    background-color: rgb(167, 167, 167,0.6);
    text-align: center;
    color: rgb(51, 51, 51);
    font-style:italic;
    flex-shrink: 0;
}
