main{
    margin: 20px;
    font-size: 133%;
}
section h1{
    text-align: center;
}


body {
    background: url('../Images/Bckgrd2.jpeg') rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
}

header{
    flex: 1 0 auto;

}


@media (max-width: 991px){
    .sidebar{
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(5px);
    }
    main{
        font-size: 100%;
    }
}

footer{
    background-color: rgba(167, 167, 167, 0.2);
    text-align: center;
    color: rgb(0, 0, 0);
    font-style:italic;
    flex-shrink: 0;
}